<template>
    <v-main>
      <v-container class="fill-height">
        <v-layout class="align-center justify-center">
          <v-fade-transition>
            <v-col xs="12" sm="6" md="4" lg="4" xl="3">
              <v-card>
                <v-form ref="form" @submit.prevent="submit">
                  <v-card-title>
                    <v-layout>
                      <h3>Authorization</h3>
                    </v-layout>
                  </v-card-title>

                  <v-card-text>
                    <v-text-field
                      name="email"
                      type="text"
                      autocomplete="email"
                      data-vv-name="email"
                      v-model="credentials.email"
                      label="Email"
                    />

                    <v-text-field
                      name="username"
                      type="password"
                      autocomplete="username"
                      data-vv-name="username"
                      v-model="credentials.password"
                      label="Password"
                    />
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      color="primary"
                      type="submit"
                      :ripple="false"
                    >
                      Login
                    </v-btn>
                    <v-spacer/>
                    <v-btn
                      color="primary"
                      :ripple="false"
                      :to="{name: 'Register'}"
                    >
                      Register
                    </v-btn>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-col>
          </v-fade-transition>
        </v-layout>
      </v-container>
    </v-main>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AuthPage',

  data () {
    return {
      credentials: {
        email: '',
        password: ''
      },
      statusUpdating: false
    }
  },

  computed: {
    ...mapGetters('auth', ['loading'])
  },

  methods: {
    ...mapActions('auth', ['login']),

    async submit () {
      try {
        this.statusUpdating = true
        await this.login(this.credentials)
        await this.updateStatus()
        this.$router.push({ name: 'Home' })
      } catch (error) {
        console.warn(error)
      } finally {
        this.statusUpdating = false
      }
    },

    async updateStatus () {

    }
  }
}
</script>

<style scoped>

</style>
