<template>
  <v-main>
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-fade-transition>
          <v-col xs="12">
            <v-layout class="row wrap">
              <v-col xs="12" md="12" sm="12">
                <SalaryChart :chart-data="salaries"/>
              </v-col>
              <v-col xs="6" md="6" sm="12">
                <v-card>
                  <v-card-title>
                    Reports
                  </v-card-title>
                  <v-card-text>
                    <v-tabs
                      icons-and-text
                    >
                      <v-tabs-slider></v-tabs-slider>
                      <v-tab>
                        All
                        <v-icon>mdi-account-group</v-icon>
                      </v-tab>
                      <v-tab-item key="1">
                        <SalaryTable :items="salaries"/>
                      </v-tab-item>
                      <v-tab>
                        My
                        <v-icon>mdi-account</v-icon>
                      </v-tab>
                      <v-tab-item key="2">
                        <UserSalaryTable :items="mySalaries" @change="change()"/>
                      </v-tab-item>

                    </v-tabs>

                  </v-card-text>
                </v-card>
              </v-col>
              <v-col xs="6" md="6" sm="12">
                <SalaryAdd @change="change()" />
              </v-col>
            </v-layout>
          </v-col>
        </v-fade-transition>
      </v-layout>
    </v-container>
  </v-main>
</template>

<script>



import SalaryTable from "../components/SalaryTable";
import salaryApi from "../api/salaryApi";
import SalaryAdd from "../components/SalaryAdd";
import SalaryChart from "../components/SalaryChart";
import UserSalaryTable from "../components/UserSalaryTable";
export default {
  name: "HomePage",
  components: {UserSalaryTable, SalaryChart, SalaryAdd, SalaryTable},

  data () {
    return {
      salaries: [],
      mySalaries : [],
    }
  },

  async mounted () {
    await this.initData()
  },

  methods: {
    async change(){
      this.initData()
    },

    async initData() {
      await this.getSalaries()
      await this.getMySalaries()
    },

    async getSalaries() {
      const response = await salaryApi.all()
      this.salaries = response.data
    },

    async getMySalaries() {
      const response = await salaryApi.allByUser()
      this.mySalaries = response.data
    }

  }
}
</script>

<style scoped>

</style>
