<template>
  <v-main>
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-fade-transition>
          <v-col xs="12" sm="6" md="4" lg="4" xl="3">
            <v-card>
              <v-form ref="form" @submit.prevent="submit">
                <v-card-title>
                  <v-layout>
                    <h3>Registration</h3>
                  </v-layout>
                </v-card-title>

                <v-card-text v-if="this.statusRegistered == false">
                  <v-text-field
                    name="name"
                    type="text"
                    autocomplete="name"
                    data-vv-name="name"
                    v-model="credentials.name"
                    label="Name"
                  />

                  <v-text-field
                    name="email"
                    type="text"
                    autocomplete="email"
                    data-vv-name="email"
                    v-model="credentials.email"
                    label="Email"
                  />

                  <v-text-field
                    name="password"
                    type="password"
                    data-vv-name="password"
                    v-model="credentials.password"
                    label="Password"
                  />

                  <v-text-field
                    type="password"
                    data-vv-name="password_confirmation"
                    v-model="credentials.password_confirmation"
                    label="Confirm Password"
                  />

                </v-card-text>
                <v-card-text v-else>
                  <v-alert
                    type="success"
                  >
                    Successful registration. <router-link :to="{name: 'Auth'}" t>Log In</router-link>
                  </v-alert>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    v-if="this.statusRegistered == false"
                    color="primary"
                    type="submit"
                    :ripple="false"
                  >
                    Register
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
        </v-fade-transition>
      </v-layout>
    </v-container>
  </v-main>
</template>

<script>

import authApi from "../api/authApi";

export default {
  name: 'RegisterPage',

  data () {
    return {
      credentials: {
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      },
      statusUpdating: false,
      statusRegistered: false,
    }
  },

  methods: {

    async submit () {
      try {
        this.statusUpdating = true
        await authApi.register(this.credentials)
      } catch (error) {
        console.warn(error)
      } finally {
        this.statusRegistered = true
        this.statusUpdating = false
      }
    },

    async updateStatus () {

    }
  }
}
</script>

<style scoped>

</style>
