<template>
  <v-container class="fill-height">
    <v-layout class="align-center justify-center">
      <v-fade-transition>
        <v-col xs="12">
          <v-card>

            <v-form ref="form" @submit.prevent="submit">
              <v-card-title>
                Editing salary entry
              </v-card-title>
              <v-card-text>
                <v-slider
                  v-model="salarySlider.val"
                  :label="salarySlider.label"
                  :thumb-color="salarySlider.color"
                  thumb-label="always"
                  :min="salarySlider.min"
                  :max="salarySlider.max"
                ></v-slider>

                <v-select
                  :items="currencies"
                  label="Currency"
                  v-model="currency"
                />
                <v-btn
                  color="primary"
                  type="submit" currency
                  :ripple="false"
                >
                  Submit
                </v-btn>
              </v-card-text>
            </v-form>

          </v-card>
        </v-col>
      </v-fade-transition>
    </v-layout>
  </v-container>

</template>


<script>
import salaryApi from "../api/salaryApi";
export default {
  name: "SalaryEdit",
  data () {
    return {
      salarySlider: { label: 'Your salary', min:100, max: 10000, val: 50, color: 'red' },
      currencies : ['USD', 'EUR'],
      currency : '',
      notFound: false
    }
  },

  async mounted () {
    await this.initData()
  },

  methods : {
    async initData() {
      try {
        await this.getSalary(this.$route.params.id)
      } catch (error){
        this.$router.push({ name: 'Home' })
      }
    },

    async getSalary(id) {
      const response = await salaryApi.get(id)
      this.salarySlider.val = response.data.value
      this.currency = response.data.currency
    },

    async submit() {
      try {
        this.statusUpdating = true
        await salaryApi.update(this.$route.params.id,{value: this.salarySlider.val, currency: this.currency})
      } catch (error) {
        console.warn(error)
      } finally {
        this.$router.push({ name: 'Home' })
      }
    }
  }
}
</script>

<style scoped>

</style>
