<template>
  <v-card>
    <v-card-title>
      <h3>Salaries</h3>
    </v-card-title>
    <v-card-text>
      <highcharts :options="options"/>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "SalaryChart",
  props: {
    chartData: {
      type: Array,
      default: () => []
    },

    loading: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      options: {}
    }
  },

  watch: {
    chartData(val) {
      this.initChart()
    }
  },

  mounted() {
    this.initChart()
  },

  methods: {
    initChart() {

      const valuesUsd = []
      const valuesEur = []
      const series = []

      const options =
        {
          chart: {
            type: 'line',
            zoomType: 'x'
          },
          title: {
            text: null
          },
          xAxis: {
            type: 'datetime'
          },
          yAxis: [{
            title: {
              text: ''
            },
            labels: {
              format: '{value}'
            }
          },
            {
              labels: {
                format: '{value}'
              }
            }
          ],
          tooltip: {
            crosshairs: true,
            shared: true,
            valueDecimals: 2
          },
          credits: {
            enabled: false
          },
          plotOptions: {
            area: {
              stacking: 'normal',
              lineColor: '#666666',
              lineWidth: 1,
              marker: {
                enabled: false
              }
            },
            series: {
              fillOpacity: 0.6
            }
          },
          legend: {
            enabled: true,
          },
          series: []
        }

      this.chartData.forEach(item => {
        const date = Date.parse(item.created_at)
        if (item.currency == 'USD') {
          valuesUsd.push([date, parseFloat(item.value)])
        } else if (item.currency == 'EUR'){
          valuesEur.push([date, parseFloat(item.value)])
        }
      })


      series.push({
        yAxis: 0,
        name: 'USD',
        color: '#923195',
        data: valuesUsd,
      })

      series.push({
        yAxis: 0,
        name: 'EUR',
        color: '#dc46a0',
        data: valuesEur,
      })

      options.series = series

      this.options = options
    }
  }
}
</script>

<style scoped>

</style>
