<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :items-per-page="5"
    class="elevation-1"
  >
    <tr slot="items" slot-scope="{ item }">

    </tr>
  </v-data-table>
</template>

<script>
export default {
  name :'SalaryTable',

  props: {
    items: {
      type: Array,
      default: () => []
    },
  },

  data () {
    return {
      headers: [
        {
          text: 'User',
          align: 'start',
          sortable: false,
          value: 'user_name',
        },
        { text: 'Value', value: 'value' },
        { text: 'Currency', value: 'currency' },
      ],
    }
  },
}
</script>

<style scoped>

</style>
