<template>
  <v-card>
    <v-form ref="form" @submit.prevent="submit">
      <v-card-text>
        <v-slider
          v-model="salarySlider.val"
          :label="salarySlider.label"
          :thumb-color="salarySlider.color"
          thumb-label="always"
          :min="salarySlider.min"
          :max="salarySlider.max"
        ></v-slider>

        <v-select
          :items="currencies"
          label="Currency"
          v-model="currency"
        />
        <v-btn
          color="primary"
          type="submit"currency
          :ripple="false"
        >
          Submit
        </v-btn>
      </v-card-text>
    </v-form>
  </v-card>
</template>

<script>
import salaryApi from "../api/salaryApi";

export default {
  name: "SalaryAdd",

  data () {
    return {
      salarySlider: { label: 'Your salary', min:100, max: 10000, val: 50, color: 'red' },
      currencies : ['USD', 'EUR'],
      currency : ''
    }
  },

  methods : {
    async submit() {
      try {
        this.statusUpdating = true
        await salaryApi.create({value: this.salarySlider.val, currency: this.currency})

      } catch (error) {
        console.warn(error)
      } finally {
        this.$emit('change')
      }
    },
  }
}

</script>

<style scoped>

</style>
