<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :items-per-page="5"
    class="elevation-1"
  >
    <template
      v-slot:body="{ items }"
    >
      <tbody>
      <tr
        v-for="item in items"
        :key="item.name"
      >
        <td class="text-xs-left">
          {{ item.value }}
        </td>
        <td class="text-xs-left">
          {{ item.currency }}
        </td>
        <td class="text-xs-left">
          <v-btn
            color="primary"
            :ripple="false"
            :to="{name: 'Salary', params: {id: item.id}}"
          >
            Edit
          </v-btn>
          <v-btn
            color="error"
            v-on:click="deleteItem(item.id)"
            :ripple="false"
          >
            Delete
          </v-btn>
        </td>
      </tr>
      </tbody>
    </template>

  </v-data-table>
</template>

<script>
import salaryApi from "../api/salaryApi";

export default {
  name :'UserSalaryTable',

  props: {
    items: {
      type: Array,
      default: () => []
    },
  },

  data () {
    return {
      headers: [
        { text: 'Value', value: 'value' },
        { text: 'Currency', value: 'currency' },
        { text: 'Actions'},
      ],
    }
  },

  methods: {
    async deleteItem(id){
      try {
        await salaryApi.delete(id)
      } catch (error) {
        console.warn(error)
      } finally {
        this.$emit('change')
      }
    }
  }
}
</script>

<style scoped>

</style>
