<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <h2>Salaries </h2>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        v-if=""
        v-on:click="home"
        text
      >
        <span class="mr-2">Home</span>
        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn
        v-if="this.authenticated()"
        v-on:click="logout"
        target="_blank"
        text
      >
        <span class="mr-2">Logout</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

import {mapGetters} from "vuex";

export default {
  name: 'App',

  components: {
    //
  },

  data: () => ({
    //
  }),

  computed : {
    ...mapGetters('auth', ['authenticated']),
  },


  methods: {
    async logout () {
      await this.$store.dispatch('auth/logout')

      this.$router.push({ name: 'Auth' })
    },

    async home () {
      this.$router.push({ name: 'Home' })
      console.log(this.$store.state['auth'])
    }
  },
}
</script>
